.container {
  width: 100%;
  //max-width: 1566px;
  max-width: 1411px;
  margin: 0 auto;
}

@media (max-width: $width-only-tablet) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: $width-only-mobile) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
