.copyright {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid $darker-grey;
}

@media (max-width: $width-only-tablet) {
  .copyright {
    padding-top: 21px;
  }
}

@media (max-width: $width-only-mobile) {
  .copyright {
    padding-top: 28px;
  }
}

.copyright__container {
  @include container;
  max-width: 1431px;
}

@media (max-width: $width-only-tablet) {
  .copyright__container {
    padding-left: 27px;
  }
}

@media (max-width: $width-only-mobile) {
  .copyright__container {
    padding-left: 16px;
  }

  .copyright__container li:last-child {
    margin-top: 21px;
  }
}

.copyright ul {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1065px) {
  .copyright ul {
    justify-content: space-between;
  }
}

@media (max-width: $width-only-mobile) {
  .copyright ul {
    flex-direction: column;
    align-items: center;
  }
}

.copyright li,
.copyright a {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $darker-blue;
}

.copyright li + li {
  padding-left: 10px;
}

@media (max-width: $width-only-tablet) {
  .copyright li + li {
    padding-left: 0;
  }
}

.copyright a:hover,
.copyright a:focus,
.copyright a:active {
  color: $blue;
}

.copyright__dates {
  margin-left: 72px;
}

@media (max-width: 1065px) {
  .copyright__dates {
    margin-left: 0;
  }
}

.copyright__policy {
  margin-left: 142px;
}

@media (max-width: 1065px) {
  .copyright__policy {
    margin-left: 0;
  }
}

.copyright__author {
  margin-left: auto;
}

@media (max-width: 1065px) {
  .copyright__author {
    margin-left: 0;
  }
}

@media (max-width: $width-only-tablet) {
  .copyright__copy,
  .copyright__dates {
    display: none;
  }
}
