.footer {
  background-color: $lighter-grey;
}

.footer__grid {
  width: 100%;
  max-width: 1435px;
  margin: 0 auto 58px auto;
  display: flex;
  padding-top: 64px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: $width-only-tablet) {
  .footer__grid {
    flex-direction: column;
    padding-top: 19px;
    margin-bottom: 38px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__grid {
    margin-bottom: 0;
    padding-top: 46px;
  }
}

.footer__social {
  width: 29.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: $width-only-tablet) {
  .footer__social {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid $darker-grey;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__social {
    flex-direction: column;
    padding-bottom: 54px;
  }
}

@media (max-width: $width-only-tablet) {
  .footer__social p {
    margin-top: 18px;
    padding-left: 16px;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__social p {
    margin-top: 24px;
    padding-left: 0;
  }
}

.footer__social ul {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-bottom: 4px;
}

.footer__social a {
  display: inline-block;
  vertical-align: bottom;
  color: $grey;
}

.footer__social a:hover,
.footer__social a:focus,
.footer__social a:active {
  color: $blue;
}

.footer__social svg {
  display: block;
  color: currentColor;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

@media (max-width: $width-only-tablet) {
  .footer__contacts {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__contacts {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__item:first-child {
  margin-right: 10px;
}

@media (max-width: $width-only-tablet) {
  .footer__item {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer__item + .footer__item {
    border-top: 1px solid $darker-grey;
  }
}

@media (max-width: $width-only-tablet) {
  .footer__item div {
    padding-right: 12px;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__item div {
    padding-top: 5px;
    padding-bottom: 26px;
  }
}

.footer__item li {
  font-size: 15px;
  line-height: 25px;
  color: $darker-blue;
}

.footer__item a {
  color: inherit;
}

.footer__item a:hover,
.footer__item a:focus,
.footer__item a:active {
  color: $blue;
}

.footer__item span {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $width-only-tablet) {
  .footer__nav {
    flex-direction: column;
  }
}

.footer__nav ul + ul {
  margin-left: 75px;
}

@media (max-width: $width-only-tablet) {
  .footer__nav ul + ul {
    margin-left: 0;
  }
}

.footer__copyright {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .footer__copyright {
    display: block;
    letter-spacing: 0.04em;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__copyright {
    margin-top: 20px;
    margin-bottom: 32px;
  }
}

.footer ul {
  @include reset-list;
}

.footer__item h2 {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-blue;
}

@media (max-width: $width-only-tablet) {
  .footer__item h2 {
    margin-top: 38px;
  }
}

@media (max-width: $width-only-mobile) {
  .footer__item h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 27px;
  }
}

.footer__item h2::before,
.footer__item h2::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  display: none;
  background-color: $pale-grey;
  cursor: pointer;
}

.footer__item h2::before {
  width: 16px;
  height: 1px;
  right: 0;
}

.footer__item h2::after {
  width: 1px;
  height: 16px;
  right: 7.5px;
}

.footer__item h2:hover::before,
.footer__item h2:hover::after,
.footer__item h2:focus::before,
.footer__item h2:focus::after {
  background-color: $blue;
}

@media (max-width: $width-only-mobile) {
  .footer__item h2::before,
  .footer__item h2::after {
    display: block;
  }

  .footer__item h2[aria-expanded="true"]::after {
    display: none;
  }
}
