.form {
  max-width: 570px;
}

@media (max-width: $width-only-tablet) {
  .form {
    max-width: none;
  }
}

.form h2 {
  @include font-roboto;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
}

@media (max-width: $width-only-tablet) {
  .form h2 {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: $width-only-mobile) {
  .form h2 {
    font-size: 28px;
    line-height: 39px;
  }
}

.form p {
  margin-top: 7px;
  margin-bottom: 0;
}

.form__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 49px;
}

@media (max-width: $width-only-tablet) {
  .form__list {
    margin-bottom: 42px;
  }
}

@media (max-width: $width-only-mobile) {
  .form__list {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.form__list li {
  width: 50%;
}

@media (max-width: $width-only-mobile) {
  .form__list li {
    width: 100%;
  }
}

.form__list li + li {
  margin-left: 31px;
}

@media (max-width: $width-only-mobile) {
  .form__list li + li {
    margin-left: 0;
  }
}

.form__list input {
  height: 50px;
  padding-left: 17px;
}

.form textarea {
  min-height: 154px;
  padding-top: 13px;
  padding-left: 17px;
}

.form__list input,
.form textarea {
  width: 100%;
  background-color: $light-blue;
  border: 0;
}

.form input::placeholder,
.form textarea::placeholder {
  color: $white;
  opacity: 1;
}

.form__checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 43px;
}

@media (max-width: $width-only-tablet) {
  .form__checkbox {
    margin-top: 45px;
  }
}

@media (max-width: $width-only-mobile) {
  .form__checkbox {
    flex-direction: column;
  }
}

.form__checkbox button {
  width: 50%;
  min-height: 45px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
  background-color: inherit;
  border: 1px solid $white;
  border-radius: 5px;
}

@media (max-width: $width-only-mobile) {
  .form__checkbox button {
    margin-bottom: 30px;
  }
}

.form__checkbox label {
  position: relative;
  width: 50%;
  padding-left: 32px;
}

.form__checkbox label::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-checkbox.svg");
}

.form__checkbox button + label {
  margin-left: 38px;
}

.form__checkbox span {
  font-size: 14px;
  line-height: 16px;
}

.form__checkbox-icon-wrapper {
  position: relative;
}

.form__checkbox-icon {
  width: 16px;
  height: 16px;
}

.form__checkbox-icon-checked {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
}

/*.form__checkbox label .form__checkbox input:checked .form__checkbox-icon-checked {
  display: block;
}*/
