.header {
  max-width: 1411px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
}

.header__contacts ul {
  @include reset-list;
  display: flex;
}

.header__contacts a {
  line-height: 18px;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .header__contacts span {
    display: none;
  }
}

.header button {
  font-size: 14px;
  line-height: 16px;
  color: $white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
}

@media (max-width: $width-only-tablet) {
  .header button {
    display: none;
  }
}
