.header-wrapper {
  position: relative;
  background-color: $dark-blue;
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header-wrapper__container {
  width: 100%;
  max-width: 1411px;
  margin: 0 auto;
}

@media (max-width: $width-only-tablet) {
  .header-wrapper__container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: $width-only-mobile) {
  .header-wrapper__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
