.modal {
  display: none;

  &--open {
    display: block;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-black;
}

.modal__container {
  position: relative;
  width: 490px;
  max-height: 95vh;
  overflow-y: auto;
  color: $white;
  background-color: $blue;
  padding: 33px 40px 36px 40px;
}

.modal__button {
  position: absolute;
  top: 20px;
  right: 14px;
  border: 0;
  color: $white;
  background-color: $blue;
}

.modal__button:hover {
  color: $dark-blue;
  cursor: pointer;
}
