.promo {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 71px;
  align-items: center;
  min-height: 789px;
}

@media (max-width: $width-only-tablet) {
  .promo {
    min-height: 608px;
    grid-column-gap: 0;
  }
}

@media (max-width: $width-only-mobile) {
  .promo {
    min-height: auto;
    display: block;
  }
}

.promo__image {
  position: relative;
  width: 100%;
  height: 515px;
}

@media (max-width: $width-only-mobile) {
  .promo__image {
    display: none;
  }
}

.promo__image::before,
.promo__image::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.promo__image::before {
  z-index: 1;
  top: 30px;
  left: 0;
  width: 705px;
  height: 515px;
  background-image: url("../img/printed-board-desktop.png");
}

@media (max-width: $width-only-tablet) {
  .promo__image::before {
    top: -12px;
    left: -47px;
    width: 465px;
    height: 340px;
    background-image: url("../img/printed-board-tablet.png");
  }
}

@media (max-width: $width-only-mobile) {
  .promo__image::before {
    top: 0;
    left: 0;
    width: 294px;
    height: 220px;
    background-image: url("../img/printed-board-mobile.png");
  }
}

.promo__image::after {
  top: 12px;
  left: -8px;
  width: 671px;
  height: 641px;
  background-image: url("../img/header-triangle.png");
}

@media (max-width: $width-only-tablet) {
  .promo__image::after {
    top: -58px;
    left: -118px;
    width: 671px;
    height: 641px;
    background-image: url("../img/header-triangle-tablet.png");
  }
}

@media (max-width: $width-only-mobile) {
  .promo__image::after {
    top: 0;
    left: 0;
  }
}

.promo__block {
  position: relative;
  color: $white;
  max-width: 718px;
  padding-bottom: 68px;
  padding-top: 20px;
}

@media (max-width: $width-only-tablet) {
  .promo__block {
    max-width: 470px;
    margin-left: 88px;
    padding-bottom: 0;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__block {
    max-width: none;
    margin-left: 15px;
    padding-top: 231px;
    min-height: 502px;

    &::after,
    &::before {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
    }

    &::after {
      top: -18px;
      left: 136px;
      width: 506px;
      height: 400px;
      background-image: url("../img/header-triangle-mobile.png");
    }

    &::before {
      top: 37px;
      left: 11px;
      z-index: 1;
      width: 301px;
      height: 220px;
      background-image: url("../img/printed-board-mobile.png");
    }
  }
}

.promo__block h1 {
  @include font-roboto;
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

@media (max-width: $width-only-tablet) {
  .promo__block h1 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__block h1 {
    position: relative;
    z-index: 2;
    font-size: 40px;
    line-height: 47px;
  }
}

.promo__information {
  position: relative;
  padding-left: 98px;
}

@media (max-width: $width-only-tablet) {
  .promo__information {
    padding-left: 51px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__information {
    padding-right: 15px;
  }
}

.promo__information::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 2px;
  top: 16px;
  left: 4px;
  background-color: $white;
}

@media (max-width: $width-only-tablet) {
  .promo__information::before {
    width: 33px;
  }
}

.promo__information p {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 34px;
}

@media (max-width: $width-only-tablet) {
  .promo__information p {
    margin-top: 29px;
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__information p {
    margin-top: 26px;
    font-size: 16px;
    line-height: 25px;
  }
}

.promo__button-wrapper {
  padding-left: 98px;
  padding-top: 44px;
}

@media (max-width: $width-only-tablet) {
  .promo__button-wrapper {
    margin-bottom: 73px;
    padding-left: 51px;
    padding-top: 54px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__button-wrapper {
    padding-left: 0;
    padding-right: 15px;
    padding-top: 40px;
    margin-bottom: 71px;
  }
}

.promo__button-wrapper a {
  display: inline-block;
  vertical-align: bottom;
  padding: 17px 46px 19px 46px;
  background-color: $blue;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: $width-only-tablet) {
  .promo__button-wrapper a {
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__button-wrapper a {
    width: 100%;
    padding-left: 36px;
  }
}

.promo__button-wrapper a:hover {
  background-color: transparent;
  outline: 2px solid $blue;
}

.promo__button-text {
  @include font-roboto;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
}

.promo__button-wrapper a:hover .promo__button-text {
  color: $blue;
}

.promo__button-text--mobile {
  display: none;
}

@media (max-width: $width-only-mobile) {
  .promo__button-text--desktop {
    display: none;
  }

  .promo__button-text--mobile {
    display: block;
  }
}
