.promo {
  color: $white;
  max-width: 718px;
  padding-bottom: 92px;
}

@media (max-width: $width-only-tablet) {
  .promo {
    max-width: 470px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo {
    padding-bottom: 70px;
  }
}

.promo h1 {
  @include font-roboto;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

@media (max-width: $width-only-tablet) {
  .promo h1 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo h1 {
    font-size: 40px;
    line-height: 47px;
  }
}

.promo__information {
  padding-left: 94px;
}

@media (max-width: $width-only-tablet) {
  .promo__information {
    padding-left: 48px;
  }
}

.promo__information p {
  font-size: 22px;
  line-height: 34px;
}

@media (max-width: $width-only-tablet) {
  .promo__information p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__information p {
    font-size: 16px;
    line-height: 25px;
  }
}

.promo__button-wrapper {
  padding-left: 94px;
}

@media (max-width: $width-only-tablet) {
  .promo__button-wrapper {
    padding-left: 48px;
  }
}

@media (max-width: $width-only-mobile) {
  .promo__button-wrapper {
    padding-left: 0;
  }
}

.promo__button-wrapper button {
  background-color: $blue;
  border: 0;
  border-radius: 5px;
}

@media (max-width: $width-only-mobile) {
  .promo__button-wrapper button {
    width: 100%;
  }
}

.promo__button-text {
  @include font-roboto;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
}

.promo__button-text--mobile {
  display: none;
}

@media (max-width: $width-only-mobile) {
  .promo__button-text--desktop {
    display: none;
  }

  .promo__button-text--mobile {
    display: block;
  }
}

.promo a {
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  opacity: 0.5;
}

@media (max-width: $width-only-tablet) {
  .promo a {
    display: none;
  }
}
