.question {
  color: $white;
  background-color: $blue;
  overflow: hidden;
}

.question__image {
  position: relative;
}

@media (max-width: $width-only-tablet) {
  .question__image {
    display: none;
  }
}

.question__image::after,
.question__image::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.question__image::after {
  width: 671px;
  height: 520px;
  top: -31px;
  right: 22px;
  background-image: url("../img/header-triangle.png");
}

.question__image::before {
  z-index: 1;
  width: 511px;
  height: 288px;
  top: 70px;
  right: 9px;
  background-image: url("../img/paper-airplane.png");
}

.question__inner {
  @include container;
  position: relative;
  padding-top: 92px;
  padding-bottom: 117px;
  display: grid;
  grid-template-columns: auto max-content;
  grid-column-gap: 114px;
}

@media (max-width: $width-only-tablet) {
  .question__inner {
    padding: 81px 87px 103px 92px;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

@media (max-width: $width-only-mobile) {
  .question__inner {
    padding: 33px 15px 43px 15px;
  }
}

.question__decor {
  position: absolute;
  background-repeat: no-repeat;

  &--first {
    top: 78px;
    right: -278px;
    width: 200px;
    height: 220px;
    background-image: url("../img/question-icon-first.png");
  }

  &--second {
    bottom: 36px;
    right: -438px;
    width: 350px;
    height: 350px;
    background-image: url("../img/question-icon-second.png");
  }
}

@media (max-width: $width-only-tablet) {
  .question__decor {
    display: none;
  }
}
