.scroll-link {
  position: absolute;
  bottom: -80px;
  left: -35px;
  z-index: 1;
  display: block;
  transform: rotate(-90deg);
  font-size: 14px;
  line-height: 16px;
  color: $dark-white;
}

@media (max-width: $width-only-tablet) {
  .scroll-link {
    display: none;
  }
}

.scroll-link:hover {
  color: $white;
}
