.service {
  @include font-roboto;
  color: $white;
  background-color: $dark-blue;
}

.service__inner {
  @include container;
}

.service h2 {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

@media (max-width: $width-only-tablet) {
  .service h2 {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: $width-only-mobile) {
  .service h2 {
    font-size: 28px;
    line-height: 39px;
  }
}

.service a {
  font-size: 20px;
  line-height: 30px;
}
