.service {
  @include font-roboto;
  padding-top: 93px;
  padding-bottom: 127px;
  color: $white;
  background-color: $dark-blue;
}

@media (max-width: $width-only-tablet) {
  .service {
    padding-top: 53px;
    padding-bottom: 78px;
  }
}

@media (max-width: $width-only-mobile) {
  .service {
    padding-bottom: 64px;
  }
}

.service__inner {
  @include container;
}

.service h2 {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

@media (max-width: $width-only-tablet) {
  .service h2 {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: $width-only-mobile) {
  .service h2 {
    font-size: 28px;
    line-height: 39px;
  }
}

.service ul {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

@media (max-width: $width-only-tablet) {
  .service ul {
    grid-template-columns: 1fr;
    grid-row-gap: 46px;
  }
}

.service__item {
  height: 620px;
  width: auto;
}

.service__item--production {
  background-image: url("../img/production-desktop.png");
}

.service__item--installation {
  background-image: url("../img/installation-desktop.png");
}

.service__item--components {
  background-image: url("../img/components-desktop.png");
}

.service__item span {
  display: inline-block;
  max-width: 200px;
  margin-top: 53px;
  margin-left: 44px;
  font-size: 20px;
  line-height: 30px;
}
