$white: #ffffff;
$light-grey: #ebebeb;
$dark-grey: #666666;
$darker-grey: rgba(98, 105, 98, 0.2);
$light-blue: rgba($white, 0.1);
$blue: #00b2ff;
$dark-blue: #1b2d37;
$darker-blue: rgba($dark-blue, 0.5);
