html {
  height: 100%;
}

body {
  font-family: "PT Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-grey;
}

a {
  text-decoration: none;
}
